#cart-icon  {
    width:100px;
    background-color: none;
    height:50px;
    text-decoration: none;
    text-align: center;

}
#cart-icon img {
    width:100px;
    background-color: none;
    height:50px;
    transition: 300ms all ease-in-out;
    transform: scale(1);
}

#cart-icon img:hover {
    transition: 300ms all ease-in-out;
    transform: scale(1.2);
}
#cart-item-count {
    position:relative;
    width:fit-content;
    left: 10px;
    top:-20px;
    background-color: rgb(163, 53, 53);
    color:black;
    text-decoration: none;
    padding:2px 10px;
    border-radius: 50%;
    border:2px ridge silver;
}