#cart-wrapper {
    display: flex;
    flex-direction: column;
    margin:100px auto 20px;
    padding:20px;
    min-height: 70vh;
    font-size: 1.2em;
    width:90%;
    border:1px solid #505963;
    background-color:#eaebec;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 20px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.cart-item {
    display: flex;
    width: 100%;
    min-height:10vh;
    margin:3px auto;  
    border:1px solid #505963;
    background-color:#c6d4e1;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cart-item>* {
    padding: 2px 20px;
    flex: 1 1 10%;
    text-align: left;
    align-self: center;
}

.cart-item img {
    margin:4px 0px 4px 15px;
    padding: 5px;
    max-width: 10vh;
    max-height: 10vh;
    border:1px solid black;
    background-color: antiquewhite;
    transform: scale(1);
    transition: 500ms;
}
.cart-item img:hover{
    transform: scale(3)translateX(20px);
    transition: 500ms;
    z-index:10;
}

#cart-button-wrapper {
    display: flex;
    justify-content: center;
    gap:2em;  
    
}

#cart-total-price{
    margin:20px auto;
    font-size: 1.5em;
}
  
