body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#cart-total-price {
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

#cart-button-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

#cart-pay-now {
    outline: none;
    border: none;
    color: #fff;
    background-color: #12b6e0;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}

#cart-pay-now:hover {
    background-color: #256ce1;
}

#cart-empty-button {
    outline: none;
    border: none;
    color: #fff;
    background-color: #12b6e0;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}

#cart-empty-button:hover {
    background-color: #256ce1;
}

.cart-item img {
    height: 18vh;
    width: 10vw;
    border: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cart-item p { 
    padding:10px 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

#cart-item-remove {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-list-wrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    color: #fff;
    background-color: #12b6e0;
    padding: 10px;
    border-radius: 20px;
    align-self: flex-end;
}

button:hover {
    background-color: #256ce1;
}

#cart-list-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    max-height: 10vh;
    width: 80%;
    margin: auto;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px;
    margin:5px auto;
}
.cart-item-text {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-left: 30px;
}
.cart-item-text p {
    width: 25%;
    text-align: left;
}
.cart-item img {
    height: 10vh;
    width: 10vw;
}
#cart-functions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#cart-functions button {
    width:10vw;
}