

span {
  color: red;
}

.main-ct-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin:  auto;
  min-height: 800px;
  font-size: 1.25rem;
}

.name {
  margin: 0.5rem;
}

#img {
  width: 350px;
  height: 350px;
  margin-top: 2rem;
  border-radius: 1.5rem;
  padding:10px;
  background-color: whitesmoke;
  border:1px solid rgb(132, 132, 211, 0.4);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 6px, rgba(0, 0, 0, 0.27) 0px 6px 10px, rgba(0, 0, 0, 0.23) 0px 10px 16px, rgba(0, 0, 0, 0.19) 0px 16px 32px, rgba(0, 0, 0, 0.17) 0px 32px 64px;}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.btn,
.add-btn {
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color: #495057;
  color: white;
  border: none;
  box-shadow: 1px 1px 1px 1px black;
}

.btn:hover,
.add-btn:hover {
  border: dotted;
}

.add-btn {
  background-color: #608d1c;
}

.desc-wrapper {
  height: 400px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.desc-wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 500px;
 
}
.cat-cracteristics {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2em;
  border: 2px solid #4e4e5c; 
  border-radius:8px;
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 6px, rgba(0, 0, 0, 0.27) 0px 6px 10px, rgba(0, 0, 0, 0.23) 0px 10px 16px, rgba(0, 0, 0, 0.19) 0px 16px 32px, rgba(0, 0, 0, 0.17) 0px 32px 64px;

}

.caractcs-item {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid #4e4e5c;
}
.caractcs-item:last-child {border:none;}

.main-ct-info-wrapper{margin-top:110px;margin-bottom:90px;
}

.desc-wrapper #cat-desc p{ text-align: justify;line-height: 1.4;}
.caractcs-item p{flex:1 1 50%;margin:8px 0px;}