#page-not-found {
    color:#222;
    font-size: 1.5em;;
}

#page-not-found h3{
margin-top:50px;
}

#page-not-found h4 {
    margin-top:30px
}

#page-not-found-links{

  display:flex;
  flex-direction: column;
}
#page-not-found-links >* {
    padding:10px;
}